*{
    box-sizing: border-box;

}

.container{
    max-width: 1600px;
    margin: 0 auto;

}

a{
    
    color: white;
    text-decoration: none;
    
}
body{

    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    
}



.header-logo{
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;

    font-weight: 200;
    height: 54px;
    /* margin-top: -10px */
}


header{
    background-color: rgb(10, 10, 10);
    color: #ffff

}






.header-container{
    
    display: flex;
    height: 80px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.nav-menu{
    display: flex;
    list-style: none;
    gap: 58px;
    
}



.navbar{
    margin-left: -17px;

}



.design-by{
    margin-left: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-right: 205px;


}


.logo{
    width: 82px;
    margin-left: 220px;
    

}
.nav-link{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22.4px;
    color:rgb(255, 255, 255, 1);
    padding-left: 1px
}




.nav-link:hover {
    color: rgba(249, 128, 75, 1);
    transition: 0.4s ease;

}

.active{
    color: rgba(249, 128, 75, 1);

}
.header-logo{

    padding-top: 4px;
    text-align: center;
    border: 1px solid white;

    background-image: url('../../assets/icons/bamboo.svg');
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 14% 84%;
    font-weight: 400;
    font-size: 19.0145px;

    line-height: 125%;
    
}


.panda-wrapper{
    margin: 0 auto;
    background-repeat: no-repeat;
    height: 386px;

    


    
     

}




.panda-image{
    margin: 0 auto;
    height: 386px;
    width: 100%;



}



h1{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


.Pick-container{
    display: flex;
    height: 1482px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 100px; */
    background:  linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%);
    


}

.pick-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    /* margin-top: 250px; */
    line-height: 130%;
    margin-left: 10px;

    /* identical to box height, or 47px */
    color:rgba(255, 255, 255, 1);
    margin-top: -120px;


    
}


.pick-text{
    height: 94px;
    width: 1155px;
    font-family: 'Roboto';
    font-style: normal;
    margin-left: 14px;
    font-weight: 400;
    text-align: start;
    font-size: 16px;
    margin-top: -28px;

    line-height: 140%;
    /* or 22px */
    color:rgba(255, 255, 255, 1);

}

.donate-information{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    margin-right: 50.2rem;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */
    margin-top: 1.6rem;

    /* or3 */

    color: rgba(254, 144, 19, 1)
    
}


.pick-section{
    display: flex;
    height: 964px;
    width: 1160px;
    flex-direction: column;
    margin-top: 10px;
    /* justify-content: center; */
    align-items: center;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    
    margin-left: 10px;
    border-radius: 20px;
}

.donate-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    margin-left: -5px;
    /* identical to box height, or 58px */
    
    text-align: center;
    color: rgba(254, 144, 19, 1);
}

.count-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    gap: 40px;

}


.donate-description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    
    margin-right: 8rem;
    font-size: 24px;
    line-height: 120%;
    
    /* padding-top: -px; */
    margin-top: -20px;
    /* identical to box height, or 29px */

    color: #333B41;
}


.wrapper-number{
    width: 159px;
   
    margin-top: 100px;
    margin-right: 60px;


}



.icon-wrapper{
    width: 40px;
    height: 40px;
    /* margin-left: -100px; */
}

.icon-multiply{

    background-image: url("../../assets/icons/x_icon.svg");
    background-repeat: no-repeat;
   
    width: 14px;
    margin-top: 40px;
    height: 14px;
    margin-left: -102px;
    
    
}

.donate-number{
    font-family: 'Roboto';
    font-style: normal;
    padding-top: 2px;
    font-weight: 500;
    padding-right: 20px;
    font-size: 72px;
    margin: 0  ;
    line-height: 80%;
    /* identical to box height, or 58px */
    text-align: center ;
    /* margin-right: 30rem; */
    color: #000000;
}



.panda-icon{
    width: 284px;
    background-image: url("../../assets/icons/panda_widget1.svg");
    margin-top: 2.4rem;
    height: 246px;
    margin-left: -105px;
}


.amount-range{
    display: flex;
    background: #404950;
    margin: 50px auto;
    height: 27px;
    border-radius: 2px;
    width: 976px;
    align-items: center;
    flex-direction: row;



}


.input-form{
    margin: -28px 0 0 5px; ;
}


.range-line{
    display: flex;
    width: 915px;
    height: 2px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: #72828E;
}



.option{
    width: 10px;
    height: 10px;
    
    position: relative;
    background: #FFEE2E;
    
    border-radius: 50%;
    margin: 0;

}

.option-wrapper{
    margin-top: -15px;;
    width: 40px;
    height: 40px;
    margin-left: -15px;
    top: -15px;
    left: -15px;
    
}

.option-wrapper:hover{
    background: url("../../assets/icons/roller_icon.svg")
}

.option-price{
    
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: -15px;
    margin-top: 40px; 
    
}


.number{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    /* or 36px */

    text-transform: uppercase;

    color: #333B41;
}

.currency{
    background: url("../../assets/icons/currency.svg");
    width: 10px;
    height: 20px;
    margin-right: 2px;
}


.input-wrapper{
    position: relative;
    margin-top:92px;
}

input[type="number"]{
    width: 268px;
    height: 54px;
    -webkit-appearance: none;
    font-family: 'Roboto';
    /* margin-top: -px; */
    margin-top: -20rem;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    border: 1px solid #929699;
    
    /* or 22px */
    background: transparent;

    color: #929699;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.buttons-container{
    display: flex;
    margin-top: 25px;
    gap: 50px;
    margin-left: 40px;
}


.input-currency{
    position: absolute;
    margin-top: 1px;
    background: url("../../assets/icons/currency2.svg");
    width: 10px;
    height: 20px;
    margin-left: 15.5rem;;
    
}

input[type= "radio"]{
    border: 1px solid #FE9013;;

}
.lable2{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    color: #333B41;

}

.lable1{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    /* margin-left: -10px; */

    color: #333B41;
}

.container-button_pick{
    display: flex;
    flex-direction: column;
}
.pick-button{
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border-color: transparent;
    font-family: 'Roboto';
    
    margin-top: 31px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin-left: 14px;
    /* or 22px */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.share-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 30px;
    line-height: 140%;
    /* or 22px */
    /* margin-bottom: 100px; */

    color: #333B41;


}

footer{
    background:  #111115;
}


.footer-container{
     height: 443px;
     
}

.copyright-text{
    margin: 11px 62px 0 0;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 130%;
    opacity: 0.4;
    padding-right: 0px;

}




.copyright{
    margin-left: -6px;
}

.author-text{
    color:#FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 130%;
    margin: 34px 0px 0 -6px;
    opacity: 0.4;
    text-align: start;
}


.subscribe-wrapper{
    display: flex;
    justify-content: space-between;
    


}

.footer-logo{
    margin-top: 38px;
    padding-bottom: 2px;
    opacity: 0.8;
}





.subscribe-title{
    color:rgb(255, 255, 255);
    padding-top: 40px;
    
    
}

.lable-container{
    margin: 38px 205px 0 0;

}




.footer-button{
    width: 298px;
    height: 54px;
    background: #FE9013;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-left: 220px;
    line-height: 140%;
    /* or 22px */
    margin-top: -40px;
    border-color: transparent;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFFFFF;


}





.footer-button:hover{
    background:#E47209;
    transition: 0.4s ease;
    

}
.footer-end_container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    
    margin-top: -60px;
}
.social-link{
    color:rgb(255, 255, 255);
    list-style: none;
    background-repeat: no-repeat;
    font-weight: 100;
    cursor: pointer;

   

}



.fa-brands{
    margin-right: 10px;
    padding-top: 5px;
    width: 26px;

    text-align: center;
    height: 26px;
    margin-top :10px;

}

i{
   
    display: flex;
    background-image: url("../../assets/icons/Ellipse 18.svg");
    background-repeat: no-repeat;
    /* width: 20px; */
    font-size: 20px;
    
   


}


.social-link:hover{
    color: rgba(75, 146, 0, 1);
    transition: 0.4s ease;

}



.social-link:hover i{
    color:rgb(255, 255, 255);

    background: rgba(75, 146, 0, 1);
    border-radius: 50px;

}

.fa-instagram{
    font-size: 18px;
}


.fa-youtube{
    font-size: 16px;
}
.social-media__list{
    
    margin: 40px 0 0 92px;
}

.footer-navbar{
    margin: 165px 0 0 70px;;
    
}

.copyright-container{
    margin: 100px 50px 0 0;
    

}


.subscribe-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */

    margin-bottom: 20px;
    color: #FFFFFF;
    
}



input[type="email"]{
    width: 228px;
    height: 42px;
    background: transparent;
    position: relative;
    font-family: 'Roboto';
    padding-top: -2px;
    font-style: normal;
    font-weight: 400;
    z-index: 0;
    padding-left: 8px;
    border: 0.7px solid transparent;
    background:  linear-gradient(#111115 0 0)padding-box, linear-gradient(114deg, #F9804B 1.49%, #FE9013 101.44%) border-box;
    border-radius: 2px;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    /* Gray 4 */
    /* margin-top: -140px; */
    color: #BDBDBD;


}


input[type="email"].active{
    border: 0.7px solid rgba(75, 146, 0, 1);
    color: #4B9200;
    
}

input[type= "submit"]{
    width: 129px;
    height: 42px;
    border: 1px solid;
    margin-left: 5px;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    line-height: 140%;
    margin-top: -20px;




}



input[type= "submit"]:hover{
    border: 1px solid rgba(75, 146, 0, 1);
    color: #4B9200;
    transition: 0.4s ease;

}



input[type= "submit"].mistake{
    
    border: 0.7px solid rgba(211, 20, 20, 1);
    color: rgba(211, 20, 20, 1);


}


input[type= "email"].mistake{
    
    border: 0.7px solid rgba(211, 20, 20, 1);
    color: rgba(211, 20, 20, 1);


}